*/.terraform/*
*/terraform.tfvars
*/terraform.tfstate*
.terraform/*
terraform.tfvars
terraform.tfstate*
*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
.terraform.tfstate.lock.info
bin/
modules-dev/
/pkg/
*.backup
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
*.retry
