files:
  "/etc/default/docker":
    mode: "000444"
    content: |
      DOCKER_OPTS="--no-cache --force-rm"
  "/etc/nginx/conf.d/proxy.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      client_max_body_size 20M;
  "/etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      log_format main-ilot '$http_x_forwarded_for - $remote_user [$time_local] "$host" "$request" '
          '$status $body_bytes_sent "$http_referer" '
          '"$http_user_agent" $request_time';

        server {
        listen 80 default_server;

        add_header X-Frame-Options SAMEORIGIN;
        add_header X-Content-Type-Options nosniff;

        root /server/www;

        index index.html;

        client_max_body_size 8M;

        access_log /server/logs/nginx.acces.log main-ilot;
        error_log /server/logs/nginx.error.log warn;

        location ~* ^/static/(.+)$ {
            root /server;
            try_files /static/$1
                    @ilot;
        }

        location ~* ^/media/(.+)$ {
            root /server;
            try_files /media/$1
                    @ilot;
        }

        location / {
            root /server/www;
            try_files $uri $uri/index.html @ilot;
        }

        location @ilot{
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $http_host;
            proxy_redirect off;
            proxy_http_version 1.1;

            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";

            proxy_connect_timeout 1h;
            proxy_send_timeout 1h;
            proxy_read_timeout 1h;

            proxy_pass http://127.0.0.1;
        }
        }

        upstream ilot {
        server 127.0.0.1:9999 fail_timeout=0;
        }