files:
  /etc/nginx/conf.d/proxy.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream docker {
        server 172.17.0.3:9999;
        keepalive 256;
        }
        server {
            listen 9999 default_server;
            listen [::]:9999 default_server;
            server_name _;
            return 301 https://$host$request_uri;
            location / {
                            proxy_set_header X-Real-IP $remote_addr;
                            proxy_set_header X-Forwared-For $proxy_add_x_forwarded_for;
                            proxy_set_header Host $http_host;
                            proxy_set_header X-NginX-Proxy true;
                            proxy_pass http://172.17.0.3:9999/;
                            proxy_redirect off;
                            proxy_http_version 1.1;
                            proxy_set_header Upgrade $http_upgrade;
                            proxy_set_header Connection "upgrade";
                        }
            }

container_commands:
 removeconfig:
    command: "rm -f /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf"